@font-face {
  font-family: "EBGaramond";
  src: url(/assets/EBGaramond.ttf) format("truetype");
}

body {
  max-width: 50rem;
  font-family: "EBGaramond", Verdana, Tahoma;
  margin: 0 auto;
  font-size: 1.5rem;
}

body h1 {
  font-size: 3rem;
}

body h2 {
  font-size: 2rem;
}

@media screen and (min-width: 30rem) and (max-width: 55rem) {
  body h1 {
    font-size: 2.5rem;
  }

  body h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 30rem) {
  body {
    font-size: 1.3rem;
  }

  body h1 {
    font-size: 2.3rem;
  }

  body h2 {
    font-size: 1.5rem;
  }

  body .contactpage h2 {
    font-size: 1.2rem;
  }

  body .talkpage {
    font-size: 1.1rem;
  }

  body .talkpage h1 {
    font-size: 2rem;
  }

  body .talkpage h2 {
    font-size: 1.4rem;
  }
}

body a {
  text-decoration: none;
  color: #a100a1;
}

body main {
  margin: 4rem auto;
}

@media screen and (min-width: 30rem) and (max-width: 55rem) {
  body main {
    margin: 4rem 0.8rem;
  }
}

@media screen and (max-width: 30rem) {
  body main {
    margin: 2rem 0.8rem;
  }
}

body main header {
  display: flex;
}

body main header h1 {
  flex: 1;
  margin: 0;
}

body main header div {
  flex: 1;
  text-align: right;
  margin: 1rem 0;
}

@media screen and (min-width: 30rem) and (max-width: 55rem) {
  body main header div {
    margin: 0.7rem 0;
  }
}

@media screen and (max-width: 30rem) {
  body main header div {
    margin: 0.5rem 0;
  }
}

body main header h2 {
  display: inline;
  margin-left: 1rem;
}

body main article {
  text-align: justify;
  margin: 0 1rem;
}

@media screen and (max-width: 30rem) {
  body main article {
    margin: 0 0.5rem;
  }
}

body main form input,
body main form textarea {
  float: right;
  clear: both;
  width: 85%;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  color: #1a1a1a;
}

body main form input {
  height: 1.5rem;
}

body main form textarea {
  height: 10rem;
}

body main form .form-group {
  margin: 1rem 0;
}

.form-group body main form .message {
  margin-bottom: 10rem;
}

body main form .submit {
  text-align: center;
  margin-top: 10rem;
}

@media screen and (min-width: 30rem) {
  body .home {
    display: flex;
  }

  body .home .intro {
    flex: 1;
  }

  body .home .intro .icons {
    margin-top: 5rem;
  }

  body .home .intro .icons img {
    height: 2rem;
    margin-right: 1rem;
  }

  body .home picture {
    flex: 1;
  }

  body .home picture img {
    margin: auto;
    max-width: 90%;
    height: auto;
    float: right;
  }
}

@media screen and (max-width: 30rem) {
  body .home {
    background-color: black;
    color: white;
    margin: 0;
    height: 100vh;
  }

  body .home .intro {
    position: absolute;
    z-index: 1;
    margin: 0 1rem;
  }

  body .home .intro .icons {
    margin-top: 2rem;
  }

  body .home .intro .icons img {
    filter: invert(100%);
    height: 2rem;
    margin-right: 1rem;
  }

  body .home picture {
    position: absolute;
    bottom: 0;
  }

  body .home picture img {
    margin: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 30rem) and screen and (max-height: 10000000px) {
  body .home .intro p {
    margin: 0 auto;
  }
}

@media screen and (max-width: 30rem) and (max-height: 46rem) {
  body .home .intro h1 {
    margin-bottom: 0.5rem;
  }

  body .home .intro p {
    margin: 0 auto;
  }

  body .home .intro .icons {
    margin-top: 1rem;
  }
}