<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
	<base href="{{ .Site.BaseURL }}">
	{{ partial "header.html" . }}
	{{ with .Content }}{{ . }}{{ end }}

	<section>
		<main>
			{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
			{{ range $paginator.Pages }}
			<article>
				<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
				<h1><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
				{{ .Content }}
				{{ if or (isset .Params "medium_link") (isset .Params "devto_link") }}
					<small>This article was cross-posted to <a href="{{
					.Params.medium_link }}">Medium</a> & <a href="{{
					.Params.devto_link }}">Dev.to</a>, so you can also follow there
					or post comments.</small>
				{{ end }}
			</article>
			{{ end }}
			{{ template "partials/paginator.html" . }}
		</main>
		{{ partial "aside.html" .}}
	</section>
	{{ partial "footer.html" . }}
</body>

</html>